.clear-fix {
  clear: both;
}
#navbar {
  /* navbar */
  padding-left: 20px;
  padding: 3px;
  text-align: center;
}
#navbar ul {
  /* navbar ul (the list)*/
  list-style: none;
  padding: 0%;
}
#navbar li {
  /* navbar li  (the points)*/
  font-size: 40px;
  display: inline;
}
#navbar a {
  /* navbar a (the links)*/
  padding: 0px 5%;
  color: #333;
}
#showcase {
  /* showcase */
  text-align: center;
  margin: 4% 0;
}
#what-is-html {
  /* what-is-html */
  width: 80%;
  margin: 3% auto;
  padding: 1% 0;
  text-align: center;
  background-image: url("../assets/cool-background1.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: solid;
  font-size: 30px;
}
#what-is-html p {
  /* what-is-html p */
  font-size: 25px;
  line-height: 1.6em;
  text-overflow: break-word;
  width: 60%;
  margin: auto;
}
#html-looks h2 {
  /* html-looks h2 */
  font-size: 25px;
}
#html-looks img {
  /* html-looks img */
  border: solid;
  width: 60%;
}
#basics-html {
  /* basics-html */
  width: 80%;
  margin: 3% auto;
  text-align: center;
  font-size: 25px;
  border: solid;
  background-image: url("../assets/cool-background1.png");
  background-size: cover;
}

.attributes-elements {
  /* attributes-elements */
  background-color: #f2f2f2;
  border: solid;
  display: flex;
  width: 80%;
  margin: 3% auto;
  font-size: 20px;
  text-overflow: break-word;
  box-sizing: border-box;
}
.attributes-elements-text {
  /* attributes-elements-text */
  font-size: 25px;
  text-overflow: break-word;
  box-sizing: border-box;
  float: left;
  width: 40%;
}
.attributes-elements-text p {
  /* attributes-elements-text p */
  width: 50%;
  margin: auto;
}
.attributes-elements img {
  /* attributes-elements img */
  float: right;
  width: 60%;
  box-sizing: border-box;
}
#main-footer {
  /* main-footer */
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  color: white;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
}
#main-footer a {
  /* main-footer a */
  color: white;
}
@media (max-width: 600px) {
  #what-is-html p {
    /* what-is-html p */
    width: 80%;
  }
  #html-looks h2 {
    /* html-looks h2 */
    display: none;
  }
  #html-looks img {
    /* html-looks img */
    display: none;
  }
  .attributes-elements-text {
    /* attributes-elements-text */
    width: 100%;
  }
  .attributes-elements-text p {
    /* attributes-elements-text p */
    width: 80%;
  }
  .attributes-elements img {
    /* attributes-elements img */
    display: none;
  }
}
