#navbar {
  /* navbar */
  padding-left: 20px;
  padding: 3px;
  text-align: center;
}
#navbar ul {
  /* navbar ul (the list)*/
  list-style: none;
}
#navbar li {
  /* navbar li  (the points)*/
  font-size: 40px;
  display: inline;
}
#navbar a {
  /* navbar a (the links)*/
  padding: 0px 5%;
  color: #333;
}

#main-footer {
  /* main-footer */
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  color: white;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
}
#main-footer a {
  /* main-footer a */
  color: white;
}
